body{
	font:12px Arial;
	line-height: 2em;
	color: gray;
}
.menu{
	color: #b9f605;
	font:14px bold;
}
.special{
	color: #fdb306
}
#white{
	color: white;
	text-decoration: none;
}
a{
	color:#727272;
	text-decoration: none;
}